{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>

<div class="page-wrapper">
    <div class="signup-login">
        <div class="signup-box signup-box-auth">

            <h1 class="auth-title">Edit Task</h1>
            <hr class="line">

            <form method="post">
                {% csrf_token %}

                <div class="field">
                    <label>Task Title</label>
                    <input
                        type="text"
                        name="title"
                        class="inp"
                        value="{{ todo.title }}"
                        required
                    >
                </div>

                <button type="submit" class="submit-button">
                    Update Task
                </button>
            </form>

            <hr class="line">

            <p class="auth-text">
                <a href="{% url 'todopage' %}" class="auth-link">← Back to Todo</a>
            </p>

        </div>
    </div>
</div>

</body>
</html>